
<div class="jumbotron">
  Welcome, <%= current_user.first_name %>!

  <%= link_to "View My Profile", profile_path, class: 'btn btn-default' %>
  <%= link_to "Resumes", new_resume_path, class: 'btn btn-default' %>
</div>
