
<div class="container">
	<div class="page-header">
		<h1>Profile</h1>
	</div>

<!-- 
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#">Job History</a></li>
		<li role="presentation"><a href="#">Coming Soon...</a></li>
	</ul>
-->

	<%= link_to "Job Profiles", job_profiles_path %>
</div>